body {
    font-family: 'Roboto', sans-serif; /* Uniformizando a fonte com a homepage */
    background-color: #f4f4f4; /* Fundo claro, semelhante à homepage */
    color: #333; /* Texto em cinza escuro para melhor leitura */
    margin: 0;
    height: 100vh; /* Altura total da janela de visualização */
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

form {
    background-color: #ffffff; /* Fundo branco para o formulário */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil e mais consistente com a homepage */
    width: 300px; /* Largura fixa para o formulário */
    border: 1px solid #ddd; /* Borda sutil para destacar o formulário */
}

label, input {
    display: block;
    margin-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%; /* Faz com que o input ocupe toda a largura do formulário */
    padding: 10px;
    border: none; /* Remove a borda padrão */
    border-radius: 4px; /* Bordas arredondadas */
    background-color: #eee; /* Fundo mais claro para os campos */
    color: #333; /* Texto em cinza escuro */
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    outline: none; /* Remove o contorno ao focar */
    box-shadow: 0 0 5px #aaa; /* Sombra sutil ao focar, mais clara */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px; /* Espaço entre os botões */
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049; /* Verde mais escuro */
}
